/*👉HTML ,Body👈*/

html,
body {
    height: 100%;
}

body {
    background-color: #212226;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", sans-serif;
}

p {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

section,
footer {
    background-color: #fff;
    overflow: hidden;
}


/*👉Button👈*/

.btn-general {
    font-family: "Raleway", sans-serif;
    border-radius: 28px;
    font-size: 14px;
    text-transform: uppercase;
    margin: 0 6px;
    padding: 12px 46px 12px 46px;
    transition: all 0.5s;
}


/*👉Content box👈*/

.content-box-lg {
    padding: 120px 0;
}

.content-box-md {
    padding: 100px 0;
}


/*👉Vertical Heading👈*/

.vertical-heading h5 {
    font-size: 14px;
    color: #f4c613;
    font-weight: 500;
    text-transform: uppercase;
    word-spacing: 9px;
    display: inline-block;
    transform: rotate(-90deg);
    position: relative;
    left: -70px;
    top: 60px;
}

.vertical-heading h2 {
    font-size: 45px;
    font-weight: 100;
    line-height: 45px;
    margin: 0 0 35px;
}


/*👉Preloader👈*/

#preloader {
    background-color: #fff;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
}

#status {
    background-image: url("/solo-images/preloader/preloader.gif");
    background-repeat: no-repeat;
    position: absolute;
    width: 70px;
    height: 70px;
    top: 50%;
    left: 50%;
    margin-left: -35px;
    margin-right: -35px;
}


/*👉Home Section👈*/

header {
    height: 100%;
}

#home-bg-video {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    min-width: 100%;
    min-height: 100%;
    /*👉   scroll တွေဖျောက်ဖို့ width တွေ height တွေ auto ပေးဖို့လို👈*/
    width: auto;
    height: auto;
    z-index: -1;
    /*👉 အားလုံးရဲ့အောက်ဆုံး👈*/
    background-image: url(../../video/solo.jpg);
    background-size: cover;
}

#home-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    /*👉   background image နဲ့ အပြိုင် postion fixed ပေးမယ်👈*/
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}


/*👉css ရဲ့ table method ကို သုံးလိုက်တာ Online w 3 school မှာရှိ👈*/

#home-content {
    width: 100%;
    height: 100%;
    display: table;
}

#home-content-inner {
    display: table-cell;
    vertical-align: middle;
}

#home-heading h1 {
    color: #fff;
    font-size: 65px;
    font-weight: 100;
    text-transform: uppercase;
    margin: 0;
    /*👉  width height control လုပ်ချင်လို့👈*/
    display: inline-block;
}

#home-heading span {
    color: #f4c613;
    font-weight: 500;
}

#home-text p {
    color: #fff;
    font-size: 17px;
    font-weight: 100;
    margin: 8px 0 30px 0;
}

.btn-home {
    color: #fff;
    border: 1px solid #fff;
}

.btn-home:hover,
.btn-home:focus {
    color: #fff;
    background-color: #f4c613;
    border: 1px solid #f4c613;
}

#arrow-down {
    position: absolute;
    left: 50%;
    bottom: 20px;
    color: #fff;
    width: 32px;
    height: 32px;
    text-align: center;
    margin-left: -16px;
    font-size: 32px;
}

#arrow-down:hover,
#arrow-down:focus {
    color: #f4c613;
}


/*👉About 01👈*/

#about-right p:first-child {
    margin-bottom: 30px;
}

#about-bottom img {
    margin: 0 auto;
}


/*👉About 02👈*/

.about-02 {
    background-color: #f4f4f4;
}

.about-item {
    background-color: #fff;
    padding: 80px 30px;
    box-shadow: 0 0 10 rgba(0, 0, 0, 0.1);
}

.about-item i {
    font-size: 42px;
    margin: 0;
}

.about-item h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.about-item hr {
    width: 45px;
    height: 3px;
    background-color: #f4c613;
    margin: 0 auto;
    border: none;
}

.about-item p {
    margin-top: 20px;
}

.about-item:hover {
    background-color: #f4c613;
}

.about-item,
.about-item hr,
.about-item i {
    transition: all 400ms ease-in-out;
}

.about-item:hover i,
.about-item:hover h3,
.about-item:hover p {
    color: #fff;
}

.about-item:hover hr {
    background-color: #fff;
}

.about-item:hover i {
    transform: translateY(-30px);
}

#team-left .vertical-heading {
    min-height: 160px;
}

.team-member {
    margin: 8px;
    position: relative;
}

.team-member-overlay {
    position: absolute;
    background-color: rgba(41, 48, 77, 0.9);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 0;
    transition: all 300ms linear;
}

.team-member:hover .team-member-overlay {
    opacity: 1;
}

.team-member-info {
    width: 100%;
    height: 100%;
    padding: 80px 0;
}

.team-member-info h6 {
    color: #f4c613;
    font-size: 16px;
    margin: 0;
}

.team-member-info p {
    color: #fff;
}

ul.social-list li {
    display: inline-block;
    padding: 0;
}

ul.social-list li a {
    border: 1px solid #fff;
    width: 35px;
    height: 35px;
    display: inline-block;
    line-height: 35px;
    color: #fff;
    border-radius: 50%;
    font-size: 25px;
}

ul.social-list li:nth-child(1) a:hover {
    background-color: #3b5998;
    border: transparent;
}

ul.social-list li:nth-child(2) a:hover {
    background-color: #00aced;
    border: transparent;
}

ul.social-list li:nth-child(3) a:hover {
    background-color: #dd4b39;
    border: transparent;
}

#team-members .owl-nav[class*="owl-"] {
    font-size: 45px;
}

.skill {
    margin-bottom: 20px;
}

.skill h4 {
    line-height: 62px;
    margin: 0;
    font-weight: normal;
}

.progress {
    height: 25px;
    border-radius: 0;
    overflow: visible;
    background-color: #efeffe;
}

.progress-bar {
    background-color: #f4c613;
    position: relative;
}

.progress-bar span {
    font-size: 11px;
    font-weight: 100;
    font-family: "Open Sans", sans-serif;
    background-color: #212226;
    position: absolute;
    padding: 3px;
    left: 97%;
    top: -42px;
}

.progress-bar span:before {
    content: "";
    border-top: 8px solid #212226;
    border-left: 6px solid transparent;
    border-left: 6px solid transparent;
    position: absolute;
    bottom: -8px;
    left: 23%;
}